@model IEnumerable<RestaurantReviews.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
        @Html.Partial("_Review", item)
        <p>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </p>
        <hr />
}

<p>
    Go to 
    @Html.ActionLink("Restaurant Details", "Details", "Restaurant", new { id=Model.FirstOrDefault()?.Id}, new { })
    Or
    @Html.ActionLink("Restaurants List", "Index", "Restaurant")
</p>